.root {
    -fx-background-color: #f4f4f4;
}
.text-field {
    -fx-background-color: dimGrey;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "white";
}
.choice-box {
    -fx-background-color: "dimgray";
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "white";
}

.label {
    -fx-background-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "black";
}
.button {
    -fx-background-color: "grey";
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "white";
}
.text-area {
    -fx-background-color: "dimgray";
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "white";
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "white";
}
.scroll-pane {
    -fx-background-color: dimGrey;
}