.root {
    -fx-background-color: grey;
    -fx-font-family: "Lucida Calligraphy";
}

.text-field {
    -fx-border-color: white;
    -fx-background-color: dimGrey;
    -fx-text-fill: white;
}

.text-field:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.text-area .content {
    -fx-border-color: white;
    -fx-background-color: dimGrey;
}

.text-area .content:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.text-area {
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: dimGrey;
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: dimGrey;
    -fx-text-fill: white;
}
.choice-box:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.combo-box:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-border-color: white;
    -fx-background-color: dimgrey;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.scroll-pane  > .viewport{
    -fx-background-color: dimGrey;
}

.menu-bar {
    -fx-background-color: dimGrey;
}
.menu:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: dimGrey;
}

.list-cell {
    -fx-background-color: dimgrey;
    -fx-text-fill: white;
}

.check-box {
    -fx-border-color: white;
    -fx-background-color: dimGrey;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: dimgrey;
}

.menu-item:focused {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.tab {
    -fx-background-color: darkgrey;
}

.tab-label {
    -fx-text-fill: white;
}

#tabs {
    -fx-background-color: dimGrey;
    -fx-text-fill: white;
}

#container {
    -fx-background-color: dimgrey;
    -fx-border-color: white;
}

#window {
    -fx-background-color: grey;
}

#days {
    -fx-background-color: grey;
}

.list-view {
    -fx-background-color: black;
}
#entrySpotSunday .label {
    -fx-text-fill: red;
}
#entrySpotMonday .label{
    -fx-text-fill: orange;
}
#entrySpotTuesday .label{
    -fx-text-fill: yellow;
}
#entrySpotWednesday .label{
    -fx-text-fill: lime;
}
#entrySpotThursday .label{
    -fx-text-fill: blue;
}
#entrySpotFriday .label{
    -fx-text-fill: magenta;
}
#entrySpotSaturday .label{
    -fx-text-fill: indigo;
}